#find{
  background-image: url("../images/capadocia.jpg");
    background-size: cover;
    background-position: 20% 20%;
  height: 90vh
}
ul{
  list-style: none;
  padding-inline-start: 0px!important;
  padding-inline-end: 0px!important;
}
#USA{
  background-position: 0 50%;
}
#Italia{
  background-position: 0 50%;
}
#Thailand{
  background-position: 0 25%;
}
#Singapore{
  background-position: 0 50%;
}
#Turkey{
  background-position: 0 50%;
}
#Australia{
  background-position: 0 45%;
}
#Argentina{
  background-position: 0 50%;
}

#inputCity{
  border-color: rgb(25, 163, 255);
}
#ciudadHeader{
  font-size: 100px;
padding-top: 80px!important;
}
#paisHeader{
  font-size: 20px;
  padding-top: 10vw;
  margin-bottom: 0;
  padding-bottom: 0;
}
.colorPrice{
  color: #373b4483;
}
span{
  color: #0d0d0e;
}
.fondo{
  height: 90vh;
}
#lost{
  height: 100vh;
  background-image: url("../images/lost.jpg");
  background-size: cover;
}
#barraError{
  background: rgba(90, 140, 180, 0.336)!important;
  color: #fdf6f6!important;
}
#fondoCities{
  background-image: url("../images/cities.jpg");
  height: 90vh;
  background-size: cover;
  background-position: 20% 20%;
}
#botonCities{
  text-decoration: none!important;
  color: #292b2c!important;
}
#botonCities:hover{
  background-color: #ececec!important;
}
#bar{
  background: rgb(29, 171, 214)!important;
}
.destination-image {
  display: block;
  position: relative;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-position: center;
}
nav{
  color: rgb(14, 14, 14)!important;
  font-size:1.5rem;
  font-weight: bold;
}
nav p{
  font-size:1.3rem;
  font-weight: bold;
  margin-left: -1rem;
}
#logo{
  margin-left: -1rem;
}
#find h1{
  font-size: 3rem!important;
  margin:0;
  text-align: center;
  margin-top: 1rem;
}
#lostContent h1{
font-size: 3em!important;
}
.gradiente{
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);

  background: linear-gradient(
    to right,
    hsla(217, 89%, 61%, 0.4),
    hsla(222, 11%, 24%, 0.4)
  );
  height: 60vh;
}
.like {
  margin-top: -8px;
  
}
#checkbox{
  padding-right: -10px!important;
}
svg {
  cursor: pointer;
  overflow: visible;
  width: 45px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked+label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
/*=============MediaQueries============*/

@media (min-width: 577px) {
    nav {
      height: 10vh;
    }
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  nav{
    font-size: 1.3rem;
    font-weight: 400;
  }
  nav p{
    font-size:1.5rem;
    font-weight: bold;
  }
  #find h1{
    font-size: 3rem!important;
    margin:0;
    text-align: center;
    margin-top: 2rem;
  
  }
}
@media (max-width: 768px){
  .card-deck {
      display: -ms-flexbox;
      display: block;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      
  }}
  @media (max-width: 768px){
    .card {
      
        margin-bottom: 15px!important;
    }}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  nav{
    font-size: 1.4rem;
  }
  nav p{
    font-size:1.8rem;
    font-weight: bold;
  }
  #find h1{
    font-size: 3rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
 }
.imgProfile{
  width: 180px;
height: 170px;
border-radius: 200px;
border: 1px solid rgba(102, 102, 102, 0.336);
  
}


 @media (min-width: 818px) { 

  #find h1{
    font-size: 3.2rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
 }
@media (min-width: 850px) { 

  #find h1{
    font-size: 3.6rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
 }
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   nav{
  font-size: 1.3rem;
}
#find h1{
  font-size: 4.1rem!important;
  margin:0;
  text-align: center;
  margin-bottom: 10rem;

}
  }

@media (min-width: 1100px) { 
    #find h1{
      font-size: 4.3rem!important;
      margin:0;
      text-align: center;
      margin-bottom: 10rem;
    
    }
  }

@media (min-width: 1168px) { 
    #find h1{
      font-size: 4.6rem!important;
      margin:0;
      text-align: center;
      margin-bottom: 10rem;
    
    }
  }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1266px) { 
  #find h1{
    font-size: 5rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
}
