#find{
  background-image: url("../images/capadocia.jpg");
    background-size: cover;
    background-position: 20% 20%;
  height: 90vh
}
ul{
  list-style: none;
  padding-inline-start: 0px!important;
  padding-inline-end: 0px!important;
}
#USA{
  background-position: 0 50%;
}
#Italia{
  background-position: 0 50%;
}
#Thailand{
  background-position: 0 25%;
}
#Singapore{
  background-position: 0 50%;
}
#Turkey{
  background-position: 0 50%;
}
#Australia{
  background-position: 0 45%;
}
#Argentina{
  background-position: 0 50%;
}

#inputCity{
  border-color: rgb(25, 163, 255);
}
#ciudadHeader{
  font-size: 100px;
padding-top: 80px!important;
}
#paisHeader{
  font-size: 20px;
  padding-top: 10vw;
  margin-bottom: 0;
  padding-bottom: 0;
}
.colorPrice{
  color: #373b4483;
}
span{
  color: #0d0d0e;
}
.fondo{
  height: 90vh;
}
#lost{
  height: 100vh;
  background-image: url("../images/lost.jpg");
  background-size: cover;
}
#barraError{
  background: rgba(90, 140, 180, 0.336)!important;
  color: #fdf6f6!important;
}
#fondoCities{
  background-image: url("../images/cities.jpg");
  height: 90vh;
  background-size: cover;
  background-position: 20% 20%;
}
#botonCities{
  text-decoration: none!important;
  color: #292b2c!important;
}
#botonCities:hover{
  background-color: #ececec!important;
}
#bar{
  background: rgb(29, 171, 214)!important;
}
.destination-image {
  display: block;
  position: relative;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-position: center;
}
nav{
  color: rgb(14, 14, 14)!important;
  font-size:1.5rem;
  font-weight: bold;
}
nav p{
  font-size:1.3rem;
  font-weight: bold;
  margin-left: -1rem;
}
#logo{
  margin-left: -1rem;
}
#find h1{
  font-size: 3rem!important;
  margin:0;
  text-align: center;
  margin-top: 1rem;
}
#lostContent h1{
font-size: 3em!important;
}
#gradiente{
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);

  background: linear-gradient(
    to right,
    hsla(217, 89%, 61%, 0.4),
    hsla(222, 11%, 24%, 0.4)
  );
  height: 60vh;
}

/*=============MediaQueries============*/

@media (min-width: 577px) {
    nav {
      height: 10vh;
    }
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  nav{
    font-size: 1.3rem;
    font-weight: 400;
  }
  nav p{
    font-size:1.5rem;
    font-weight: bold;
  }
  #find h1{
    font-size: 3rem!important;
    margin:0;
    text-align: center;
    margin-top: 2rem;
  
  }
}
@media (max-width: 768px){
  .card-deck {
      display: -ms-flexbox;
      display: block;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
      
  }}
  @media (max-width: 768px){
    .card {
      
        margin-bottom: 15px!important;
    }}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  nav{
    font-size: 1.4rem;
  }
  nav p{
    font-size:1.8rem;
    font-weight: bold;
  }
  #find h1{
    font-size: 3rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
 }
.imgProfile{
  width: 180px;
height: 170px;
border-radius: 200px;
border: 1px solid rgba(102, 102, 102, 0.336);
  
}


 @media (min-width: 818px) { 

  #find h1{
    font-size: 3.2rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
 }
@media (min-width: 850px) { 

  #find h1{
    font-size: 3.6rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
 }
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   nav{
  font-size: 1.3rem;
}
#find h1{
  font-size: 4.1rem!important;
  margin:0;
  text-align: center;
  margin-bottom: 10rem;

}
  }

@media (min-width: 1100px) { 
    #find h1{
      font-size: 4.3rem!important;
      margin:0;
      text-align: center;
      margin-bottom: 10rem;
    
    }
  }

@media (min-width: 1168px) { 
    #find h1{
      font-size: 4.6rem!important;
      margin:0;
      text-align: center;
      margin-bottom: 10rem;
    
    }
  }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1266px) { 
  #find h1{
    font-size: 5rem!important;
    margin:0;
    text-align: center;
    margin-bottom: 10rem;
  
  }
}
